@import 'colors';
@font-face {
    font-family: 'Bellefair-Regular';
    src: url("../static/fonts/Bellefair-Regular.ttf");
}
* {
    color: red;
    font-size: 39px;
    font-family: 'Bellefair-Regular';
}
